# Config files
.vscode/

# Outputs
/coverage
/out-pck

# Dependencies
**/node_modules
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac OSX Finder files.
**/.DS_Store
.DS_Store
